/* slider */
.swiper {
  z-index: 1;
  width: 100%;
  height: auto;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 774px;
  object-fit: cover;
}
.swiper-button-next {
  color: var(--point) !important;
  padding-right: 80px;
}
.swiper-button-prev {
  color: var(--point) !important;
  padding-left: 80px;
}
.swiper-pagination {
  padding-bottom: 50px;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background: var(--point) !important;
  opacity: 1 !important;
}

/* movieType */
#tab-menu-wrap {
  width: 100%;
  padding-top: 30px;
}
.tab-menu {
  width: 1200px;
  height: 520px;
  margin: 0 auto;
  border-bottom: 1px solid var(--point);
}
.tab-menu .tab-btn > h1 {
  width: 14%;
  font-family: var(--bold);
  font-size: 25px;
}
.tab-menu .tab-btn > a {
  border: 1px solid var(--point);
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 20px;
}
.tab-menu .tab-btn > a:hover {
  background-color: var(--point);
  color: #fff;
}
.tab-menu .tab-btn {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.tab-menu .tab-btn ul {
  width: 78%;
  display: flex;
}
.tab-menu .tab-btn ul div {
  width: 1px;
  background-color: #000;
  height: 15px;
}
.tab-menu .tab-btn ul li {
  padding: 0px 15px;
}
.tab-menu .tab-btn ul li:last-child {
  padding-right: 0;
}
.tab-menu .tab-btn ul li a.active {
  font-family: var(--bold);
  color: var(--point);
}
.tab-cont ul {
  display: flex;
  justify-content: space-between;
}
.tab-cont ul li {
  position: relative;
}
.tab-cont ul li:hover {
  .background {
    display: block;
  }
  .ranking {
    display: none;
  }
}
.tab-cont .background {
  width: 220px;
  height: 314.28px;
  background-color: #00000091;
  position: absolute;
  display: none;
}
.tab-cont .background .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tab-cont .background a {
  width: 150px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.tab-cont .background a:hover {
  background-color: var(--point);
  border: 1px solid var(--point);
}
.tab-cont img {
  width: 220px;
}
.tab-cont .ranking {
  font-size: 50px;
  font-family: var(--bold);
  color: #fff;
  position: absolute;
  top: 0px;
  left: 10px;
  text-shadow: 0px 0px 7px #535353;
}
.tab-cont > div {
  display: none;
}
.tab-cont > div:first-child {
  display: block;
}
.tab-cont h2 {
  width: 180px;
  margin: 0 auto;
  font-family: var(--bold);
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tab-cont .text2 {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.tab-cont .text2 p {
  font-size: 15px;
  padding: 0px 10px 0px 0px;
}
.tab-cont .text2 > img {
  width: 13px;
  height: 13px;
  margin: 1px 3px 0px 10px;
}
.mobile {
  display: none;
}

/* preview */
#preview-wrap {
  width: 100%;
  padding-top: 30px;
}
.preview {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
  border-bottom: 1px solid var(--point);
  position: relative;
}
.preview-text > h1 {
  height: 80px;
  display: flex;
  align-items: center;
  font-family: var(--bold);
  font-size: 25px;
}
.preview-text > a {
  border: 1px solid var(--point);
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 20px;
}
.preview-text > a:hover {
  background-color: var(--point);
  color: #fff;
}
.preview img {
  width: 380px;
  padding-bottom: 10px;
}
.preview > ul {
  display: flex;
  justify-content: space-between;
}
.preview > ul > li {
  position: relative;
}
.preview h6 {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to top, #da291cbb 40%, transparent 40%);
  position: absolute;
  right: 10px;
  top: 10px;
}
.preview p {
  font-size: 18px;
}
.preview ul li a p span {
  font-family: var(--bold);
}

/* special */
#special-wrap {
  width: 100%;
  padding-top: 30px;
}
.special {
  width: 1200px;
  height: 380px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid var(--point);
}
.special > .specialText {
  display: flex;
  height: 80px;
}
.special > .specialText > h1 {
  font-family: var(--bold);
  font-size: 25px;
  display: flex;
  align-items: center;
}
.special > .specialText > a {
  border: 1px solid var(--point);
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 20px;
}
.special > .specialText > a:hover {
  background-color: var(--point);
  color: #fff;
}
.stab-menu > .stab-btn {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}
.stab-menu > .stab-btn > ul > li {
  border-top: 1px solid var(--gray);
  text-align: center;
  width: 200px;
  padding: 20px;
}
.stab-menu > .stab-btn > ul > li:last-child {
  border-bottom: 1px solid var(--gray);
}
.stab-menu > .stab-btn > ul > li.sactive {
  background-color: var(--point);
  color: #fff;
}
.stab-menu > .stab-cont {
  width: 80%;
  position: absolute;
  top: 91px;
}
.stab-menu > .stab-cont > .stab-cont1 {
  position: relative;
}
.stab-menu > .stab-cont > .stab-cont2 {
  position: relative;
}
.stab-menu > .stab-cont > .stab-cont3 {
  position: relative;
}
.stab-menu > .stab-cont > .stab-cont4 {
  position: relative;
}
.stab-menu > .stab-cont .background {
  width: 100%;
  height: 100%;
  background-color: #00000071;
  position: absolute;
}
.stab-menu > .stab-cont img {
  width: 100%;
  height: 239px;
  object-fit: cover;
}
.stab-menu > .stab-cont h1 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: var(--bold);
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #fff;
}
.stab-menu > .stab-cont p {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

/* event */
#event-wrap {
  width: 100%;
  padding-top: 30px;
}
.event {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid var(--point);
}
.event > h1 {
  height: 80px;
  display: flex;
  align-items: center;
  font-family: var(--bold);
  font-size: 25px;
}
.event > a {
  border: 1px solid var(--point);
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 20px;
}
.event > a:hover {
  background-color: var(--point);
  color: #fff;
}
.event img {
  width: 285px;
  padding-bottom: 10px;
}
.event > ul {
  display: flex;
  justify-content: space-between;
}
.event > ul > li {
  position: relative;
}
.event p {
  width: 270px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--bold);
  padding-top: 10px;
  padding-bottom: 5px;
}
.event span {
  font-size: 13px;
  color: #535353;
}

/* mid-menu */
.mid {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
.mid ul {
  display: flex;
  justify-content: space-between;
}
.mid img {
  width: 200px;
}

/* 모바일 */
@media screen and (max-width: 430px) {
  /* slider */
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .swiper-button-next {
    padding-right: 30px;
  }
  .swiper-button-prev {
    padding-left: 20px;
  }
  .swiper-pagination {
    padding-bottom: 10px;
  }

  /* movieType */
  #tab-menu-wrap {
    padding-top: 50px;
  }
  .tab-menu {
    width: 100%;
    height: 490px;
    padding: 0px 30px;
  }
  .tab-menu .tab-btn > h1 {
    width: 100%;
    font-size: 20px;
  }
  .tab-menu .tab-btn > a {
    color: var(--point);
    padding: 5px 10px;
    display: flex;
    justify-content: right;
    top: 0px;
    font-size: 12px;
  }
  .tab-menu .tab-btn {
    display: block;
  }
  .tab-menu .tab-btn ul {
    width: 100%;
    padding-top: 10px;
  }
  .tab-menu .tab-btn ul li {
    font-size: 14px;
  }
  .tab-menu .tab-btn ul li:first-child {
    padding-left: 0;
  }
  .tab-cont ul {
    justify-content: baseline;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .tab-cont ul li {
    padding: 0px 10px;
  }
  .tab-cont ul li:first-child {
    padding-left: 0;
  }
  .tab-cont ul li:hover {
    .background {
      display: none;
    }
    .ranking {
      display: block;
    }
  }
  .tab-cont img {
    width: 170px;
  }
  .tab-cont .ranking {
    font-size: 50px;
    font-family: var(--bold);
    color: #fff;
    position: absolute;
    top: 0px;
    left: 10px;
    text-shadow: 0px 0px 7px #535353;
  }
  .tab-cont > div {
    display: none;
  }
  .tab-cont > div:first-child {
    display: block;
  }
  .tab-cont h2 {
    width: 160px;
    margin: 0 auto;
    font-family: var(--bold);
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
  }
  .tab-cont .text2 {
    display: flex;
    text-align: center;
    padding-top: 5px;
  }
  .tab-cont .text2 p {
    font-size: 12px;
    padding: 0px 10px 0px 0px;
  }
  .tab-cont .text2 > img {
    width: 13px;
    height: 13px;
    margin: 1px 3px 0px 10px;
  }
  .mobile {
    display: flex;
    justify-content: center;
  }
  .mobile > a {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    background-color: var(--point);
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
  }

  /* preview */
  #preview-wrap {
    padding-top: 50px;
  }
  .preview {
    width: 100%;
    height: 670px;
    padding: 0px 30px;
  }
  .preview-text {
    height: 50px;
  }
  .preview-text > h1 {
    width: 100%;
    font-size: 20px;
    height: auto;
  }
  .preview-text > a {
    color: var(--point);
    padding: 5px 10px;
    display: flex;
    justify-content: right;
    top: 0px;
    font-size: 12px;
    right: 30px;
  }
  .preview ul {
    display: block;
  }
  .preview ul li {
    padding: 10px 0px;
  }
  .preview ul li a img {
    width: 100%;
  }
  .preview ul li a p {
    font-size: 15px;
  }

  /* special */
  #special-wrap {
    display: none;
  }

  /* event */
  #event-wrap {
    display: none;
  }

  /* mid-menu */
  .mid {
    display: none;
  }
}
